body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.table-subtitle {
  text-align: center;
  font-weight: bold;
}

table th {
  text-align: center;
}

table td {
  text-align: center;
}

table tr td:first-child {
  text-align: left;
}