@import url(https://fonts.googleapis.com/css?family=Overlock);

* {
  border: solid 1px red;
}

body {
  font: 14px "Calibri", Arial, sans-serif;
}

h1 {
  padding: 0;
  margin: 0;
}

.logo-text {
  font-family: 'Overlock', cursive;
  color: blue;
  /*font-weight: bold;*/
}

.top-row {
  padding-top: 10px;
}


a {
  color: #00B7FF;
}

.table-subtitle {
  text-align: center;
  font-weight: bold;
}

table th {
  text-align: center;
}

table td {
  text-align: center;
}

table tr td:first-child {
  text-align: left;
}

.loading {
  text-align: center;
}

.loading img {
  margin-left: auto;
  margin-right: auto;
}