<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/stylesheets/style.css" />
  </head>
  <body ng-app="province">
    <div class="container" ng-controller="provinceCtrl">
      <h1><%= title %></h1>
      <p>Welcome to <%= title %></p>
      <form ng-submit="doThang()">
        <input type="text" ng-model="citySearch">
        <button class="btn btn-primary">Find City</button>
      </form>
      <p>{{ citySearch }}</p>
    </div>
    <script src="/lib/angular/angular.min.js"></script>
    <script src="/public/javascript/services.js"></script>
    <script src="/public/javascript/provinceCtrl.js"></script>
    <script src="/public/javascript/app.js"></script>
  </body>
</html>
