<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Croissant+One' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/public/stylesheets/style.css" />
  </head>
  <body ng-app="province">
    <div class="container" ng-controller="provinceCtrl">
      <div class="row top-row">
        <div class="col-sm-4">
          <h1 class="logo-text"><%= title %></h1>
          <p>find where the grass is greener</p>
        </div>
        <div class="col-sm-8 text-center">
          <form class="form-inline" ng-submit="findCities()">
            <div class="form-group">
              <input class="form-control" type="text" placeholder="first city..." ng-model="citySearch1">
            </div>
            <div class="form-group">
              <input class="form-control" type="text" placeholder="second city..." ng-model="citySearch2">
            </div>
            <div class="form-group">
              <button class="btn btn-primary btn-block">Compare</button>
            </div>
          </form>
        </div>
      </div>
      <div class="loading" ng-show="showLoading && (!cityData1 || !cityData2)">
        <img class="img-responsive" src="/public/images/loading.gif" alt="loading...">
      </div>
      <div class="well" ng-show="cityData1 && cityData2">
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th></th>
              <th>{{ cityData1.name }}</th>
              <th>{{ cityData2.name }}</th>
            </tr>
            <tr>
              <th></th>
              <th><img ng-src="{{ cityData1.imageUrl }}" alt="{{ cityData1.name }}"></th>
              <th><img ng-src="{{ cityData2.imageUrl }}" alt="{{ cityData2.name }}"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td></td>
              <td class="table-subtitle" colspan="2">Population</td>
            </tr>
            <tr>
              <td>Total population</td>
              <td>{{ cityData1.totalPopulation | number:0 }}</td>
              <td>{{ cityData2.totalPopulation | number:0 }}</td>
            </tr>
            <tr>
              <td>Population density</td>
              <td>{{ cityData1.populationDensity | number:0 }}</td>
              <td>{{ cityData2.populationDensity | number:0 }}</td>
            </tr>
            <tr>
              <td>Crime Index</td>
              <td>{{ cityData1.crimeIndex | number:2 }}</td>
              <td>{{ cityData2.crimeIndex | number:2 }}</td>
            </tr>
            <tr>
              <td>Poverty Rate</td>
              <td>{{ cityData1.povertyRate }}</td>
              <td>{{ cityData2.povertyRate }}</td>
            </tr>
            <tr>
              <td>Population over age 25 with at least a high school diplma</td>
              <td>{{ cityData1.highSchoolOrHigher }}</td>
              <td>{{ cityData2.highSchoolOrHigher }}</td>
            </tr>
            <tr>
              <td>Population over age 25 with at least a bachelor's degree</td>
              <td>{{ cityData1.bachelorsOrHigher }}</td>
              <td>{{ cityData2.bachelorsOrHigher }}</td>
            </tr>
            <tr>
              <td>Population over age 25 with a graduate or professional degree</td>
              <td>{{ cityData1.graduateOrProfessional }}</td>
              <td>{{ cityData2.graduateOrProfessional }}</td>
            </tr>
            <tr>
              <td></td>
              <td class="table-subtitle" colspan="2">Economy</td>
            </tr>
            <tr>
              <td>Current number of JavaScript job openings</td>
              <td>{{ cityData1.jsDevJobCount | number:0 }}</td>
              <td>{{ cityData2.jsDevJobCount | number:0 }}</td>
            </tr>
            <tr>
              <td>Average JavaScript developer salary</td>
              <td>{{ cityData1.jsDevSalary | number:0 }}</td>
              <td>{{ cityData2.jsDevSalary | number:0 }}</td>
            </tr>
            <tr>
              <td>JavaScript jobs per 1,000 people</td>
              <td>{{ cityData1.jsDevJobsPerThousand | number:1 }}</td>
              <td>{{ cityData2.jsDevJobsPerThousand | number:1 }}</td>
            </tr>
            <tr>
              <td>Number of engineers' salary needed to afford living in this city</td>
              <td>{{ cityData1.numberOfDevIncomesNeededToAfford | number:2 }}</td>
              <td>{{ cityData2.numberOfDevIncomesNeededToAfford | number:2 }}</td>
            </tr>
            <tr>
              <td>Unemployment rate</td>
              <td>{{ cityData1.unemployment }}</td>
              <td>{{ cityData2.unemployment }}</td>
            </tr>
            <tr>
              <td>Commute time</td>
              <td>{{ cityData1.averageCommute }}</td>
              <td>{{ cityData2.averageCommute }}</td>
            </tr>
            <tr>
              <td></td>
              <td class="table-subtitle" colspan="2">Housing</td>
            </tr>
            <tr>
              <td>Median home price</td>
              <td>{{ cityData1.medianHomePrice | number:0 }}</td>
              <td>{{ cityData2.medianHomePrice | number:0 }}</td>
            </tr>
            <tr>
              <td>Median monthly rent</td>
              <td>{{ cityData1.medianRent | number:0 }}</td>
              <td>{{ cityData2.medianRent | number:0 }}</td>
            </tr>
            <tr>
              <td>Percent of owner-occupants</td>
              <td>{{ cityData1.percentOwnerOccs | percentage:0 }}</td>
              <td>{{ cityData2.percentOwnerOccs | percentage:0 }}</td>
            </tr>
            <tr>
              <td>Percent of renters</td>
              <td>{{ cityData1.percentRenters | percentage:0 }}</td>
              <td>{{ cityData2.percentRenters | percentage:0 }}</td>
            </tr>
            <tr>
              <td>Annual cost of housing</td>
              <td>{{ cityData1.annualCostOfHousing | number:0 }}</td>
              <td>{{ cityData2.annualCostOfHousing | number:0 }}</td>
            </tr>
            <tr>
              <td></td>
              <td class="table-subtitle" colspan="2">Climate & Environment</td>
            </tr>
            <tr>
              <td>Number of sunny days per year</td>
              <td>{{ cityData1.sunnyDays | number:0 }}</td>
              <td>{{ cityData2.sunnyDays | number:0 }}</td>
            </tr>
            <tr>
              <td>Dollar cost of a sunny day</td>
              <td>{{ cityData1.costOfASunnyDay | currency:'$':0 }}</td>
              <td>{{ cityData2.costOfASunnyDay | currency:'$':0 }}</td>
            </tr>
            <tr>
              <td>Number of rainy days per year</td>
              <td>{{ cityData1.rainyDays | number:0 }}</td>
              <td>{{ cityData2.rainyDays | number:0 }}</td>
            </tr>
            <tr>
              <td>Annual snowfall (in.)</td>
              <td>{{ cityData1.snowfall | number:1 }}</td>
              <td>{{ cityData2.snowfall | number:1 }}</td>
            </tr>
            <tr>
              <td>Average July high temperature</td>
              <td>{{ cityData1.julyHigh | number:0 }}</td>
              <td>{{ cityData2.julyHigh | number:0 }}</td>
            </tr>
            <tr>
              <td>Average January low temperature</td>
              <td>{{ cityData1.januaryLow | number:0 }}</td>
              <td>{{ cityData2.januaryLow | number:0 }}</td>
            </tr>
            <tr>
              <td>Square feet of outdoor space per person</td>
              <td>{{ cityData1.outdoorSpacePerPerson | number:0 }}</td>
              <td>{{ cityData2.outdoorSpacePerPerson | number:0 }}</td>
            </tr>
            <tr>
              <td>Price per square foot of outdoor space</td>
              <td>{{ cityData1.pricePerSqFtOfOutdoorSpace | currency:'$':2 }}</td>
              <td>{{ cityData2.pricePerSqFtOfOutdoorSpace | currency:'$':2 }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <script src="/lib/angular/angular.min.js"></script>
    <script src="/public/javascript/filters.js"></script>
    <script src="/public/javascript/services.js"></script>
    <script src="/public/javascript/provinceCtrl.js"></script>
    <script src="/public/javascript/app.js"></script>
  </body>
</html>
